.about__title{
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #FEFCF7;
    width: 188px;
    margin-bottom: 24px;
}
.about__text{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    width: 445px;
}
.about__content-block{
    background-repeat: no-repeat;
    background-image: url(../../img/about-bgi.png);
    padding: 137px 750px 137px 85px;
    border-radius: 10px;
}