.commitment__title{
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #333D4B;
    width: 357px;
    margin-bottom: 32px;
}
.commitment__text{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
    mix-blend-mode: normal;
    opacity: 0.8;
    width: 540px;
}
.commitment__block{
    padding: 90px 85px 97px 655px;
    background-repeat: no-repeat;
    background-image: url(../../img/commitment-bgi.jpg);
    background-position: left;
    background-size: contain;
}
.commitment{
    padding: 168px 0;
    padding-bottom: 256px;
}